### Python ###
__pycache__/

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### Dataset ###
dataset/

### Features ###
*.npy

### Models and other parameters ###
*.h5
*.json
*.pickle